$color-contenedor: silver
$color-cuadro1: #6FB0DF
$color-cuadro2: rgb(226,144,42)
$color-cuadro3: #E22A5D
$color-cuadro4: #9052B7
$color-cuadro5: #52B77F
$color-cuadro6: blue

body 
	height: 100%
	margin: 0

html 
	height: 100%

#miBoton_animar 
	display: block
	margin: 20px auto

#contenedor 
	margin: 20px auto
	position: relative
	background-color: $color-contenedor
	width: 400px
	height: 300px

#cuadro1 
	position: absolute
	top: 0
	left: 0
	width: 200px
	height: 300px
	background-color: $color-cuadro1

#cuadro2 
	position: absolute
	top: 0
	left: 200px
	width: 100px
	height: 100px
	background-color: $color-cuadro2
	
#cuadro3 
	position: absolute
	top: 0
	left: 300px
	width: 100px
	height: 100px
	background-color: $color-cuadro3

#cuadro4 
	position: absolute
	top: 100px
	left: 200px
	width: 200px
	height: 100px
	background-color: $color-cuadro4

#cuadro5 
	position: absolute
	top: 200px
	left: 200px
	width: 100px
	height: 100px
	background-color: $color-cuadro5

#cuadro6 
	position: absolute
	top: 200px
	left: 300px
	width: 100px
	height: 100px
	background-color: $color-cuadro6